#jinja2: lstrip_blocks: True
server {
    {% if env == 'staging' %}
    listen {{ nginx_port }};
    server_name {{ server_name }};
    if ($vhost = '') {
        set $vhost 'current';
    }
    root /var/www/{{ deploy_stage }}/{{ application_name }}/$vhost/public;
    access_log /var/log/nginx/{{ application_name }}/$vhost-access.log main;
    error_log /var/log/nginx/{{ application_name }}/$vhost-error.log;

    {% elif env == 'production' %}
    listen {{ nginx_port }};
    server_name {{ server_name }};
    root /var/www/{{ deploy_stage }}/{{ application_name }}/current/public;
    access_log /var/log/nginx/{{ application_name }}/access.log main;
    error_log /var/log/nginx/{{ application_name }}/error.log;

    {% else %}
    listen {{ nginx_port }};
    root /vagrant/public;
    access_log /var/log/nginx/{{ application_name }}/access.log main;
    error_log /var/log/nginx/{{ application_name }}/error.log;

    # Because of a bug in VirtualBox
    # https://github.com/mitchellh/vagrant/issues/351#issuecomment-1339640
    sendfile off;
    {% endif %}

    index index.php index.html index.htm;

    try_files $uri $uri/ @rewrite;

    location @rewrite {
        rewrite ^(.*)$ /index.php?_url=/$1;
    }

    location ~ \.php {
        {% if laravel_access_control_allow_credentials is defined %}
        add_header Access-Control-Allow-Credentials {{ laravel_access_control_allow_credentials|lower }};
        {% endif %}
        {% if laravel_access_control_allow_headers is defined %}
        add_header Access-Control-Allow-Headers {{ laravel_access_control_allow_headers }};
        {% endif %}
        {% if laravel_access_control_allow_methods is defined %}
        add_header Access-Control-Allow-Methods {{ laravel_access_control_allow_methods }};
        {% endif %}
        {% if laravel_access_control_allow_origin is defined %}
        add_header Access-Control-Allow-Origin {{ laravel_access_control_allow_origin }};
        {% endif %}
        {% if laravel_access_control_max_age is defined %}
        add_header Access-Control-Max-Age {{ laravel_access_control_max_age }};
        {% endif %}

        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index /index.php;

        include /etc/nginx/fastcgi_params;

        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }
}


http {

    # please refer to the official document: http://wiki.nginx.org/HttpCoreModule#client_body_buffer_size
    # also some blogs about it: http://www.cyberciti.biz/tips/linux-unix-bsd-nginx-webserver-security.html
    # https://www.digitalocean.com/community/tutorials/how-to-optimize-nginx-configuration
    client_body_buffer_size      {{ nginx_client_body_buffer_size | default('8k') }};
    client_header_buffer_size    {{ nginx_client_header_buffer_size | default('1k') }};
    client_max_body_size         {{ nginx_client_max_body_size | default('1m') }};
    large_client_header_buffers  {{ nginx_large_client_header_buffers_number | default(4) }} {{ nginx_large_client_header_buffers_size | default('8k') }};

    # NCSA combined log format + request_time
    {% if behind_load_balance is defined and behind_load_balance -%}
    log_format  main  '$http_x_forwarded_for - $remote_user [$time_local] '
    {%- else -%}
    log_format  main  '$remote_addr - $remote_user [$time_local] '
    {%- endif %}

                      '"$request" $status $body_bytes_sent '
                      '"$http_referer" "$http_user_agent" "-" '
                      '$request_time';



    # Load config files from the /etc/nginx/conf.d/ directory
    include /etc/nginx/conf.d/*.conf;



    index   index.html index.htm;

    # Keep it for ELB health check
    server {
        listen       80;
        server_name  localhost;
        root         /usr/share/nginx/html;

        location / {
        }

        # redirect server error pages to the static page /40x.html
        #
        error_page 404 /404.html;
        location = /40x.html {
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }
    }
}
